<dialog open class="errorPopup" id="error-popup">
	<button commandFor="error-popup" command="close" class="closeBtn">
		<img src="/icons/close.svg" alt="close button" />
	</button>
	<p class="errorPopupMsg"><%= errorMsg %></p>
	<button commandFor="error-popup" command="close" class="cancelBtn">
		Close
	</button>
</dialog>
