<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
		<title>Share Link</title>
	</head>

	<body>
		<script>
			async function appendToClipboard(text) {
				const type = "text/plain";
				const clipboardItemData = {
					[type]: text,
				};
				const clipboardItem = new ClipboardItem(clipboardItemData);
				await navigator.clipboard.write([clipboardItem]);
				const popup = document.querySelector("#popup");
				popup.showModal();
			}
		</script>
		<%- include('partials/header') %>
		<main>
			<div class="shareLinkContainer">
				<p><strong>Share Link:</strong></p>
				<p class="shareLink"><%= shareLink %></p>
				<button class="cancelBtn" onclick="history.back()">Go back</button>
				<button
					class="shareLinkBtn"
					data-link="<%= shareLink %>"
					onclick="appendToClipboard(this.dataset.link)"
				>
					Copy
				</button>
				<dialog id="popup">
					<button commandFor="popup" command="close" class="closeBtn">
						<img src="/icons/close.svg" alt="close button" />
					</button>
					<p class="popupMsg">Copied share link to clipboard</p>
					<button commandFor="popup" command="close" class="cancelBtn">
						Close
					</button>
				</dialog>
			</div>
		</main>

		<%- include('partials/footer') %>
	</body>
</html>
