@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--piper-black: #131212;
	--piper-black-light: #252525;
	--file-info: #5a5a5a;
	--visited-link: #868686;
	--pied-green: #01825b;
	--pied-green-light: #006446;
	--pied-green-dark: #015038;
	--pied-green-ultradark: rgb(0, 15, 11);
	--text-color: #dbdbdb;
	--montserrat: "Montserrat", sans-serif;
}

/* shared elements */
body {
	background-color: var(--piper-black);
	margin: 0;
	color: var(--text-color);
	font-family: var(--montserrat);
}

p {
	padding: 0;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	min-height: 100vh;
}

header {
	display: flex;
	align-items: center;
	font-size: 18px;
	gap: 8px;
	padding: 6px 45px 6px 12px;
	background-color: var(--pied-green);
	background-image: url(/images/headerPattern.png);
	background-position: center;
	background-size: cover;
}
.logo {
	max-width: 180px;
	cursor: pointer;
	transition: all 200ms ease-out;
	margin-right: auto;
}

.logo:hover {
	filter: brightness(0.9);
	transform: scale(1.05);
}

.userIcon {
	width: 35px;
}

.username {
	font-weight: bold;
}

.headerAnchor {
	color: var(--text-color);
	text-decoration: none;
}
.headerAnchor:hover {
	color: #ffffff62;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	background-color: var(--pied-green-dark);
}

.footerLogo {
	width: 100%;
	background-color: var(--pied-green-light);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0px;
}

.simpleLogo {
	max-width: 40px;
	max-height: 40px;
}

.footerGrid {
	display: grid;
	padding: 18px 0px;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	width: 50%;
	row-gap: 12px;
}

@media (max-width: 600px) {
	.footerGrid {
		width: 80%;
	}
}

.col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col > p {
	width: 100px;
}

.col > p:hover {
	cursor: pointer;
	text-decoration: underline;
}

.subFooter {
	display: flex;
	padding: 8px 0px;
	justify-content: center;
	background-color: #003f2b;
	width: 100%;
}

button {
	cursor: pointer;
	font-family: var(--montserrat);
}

/* signup and login forms */

.signUpForm,
.logInForm {
	background-color: var(--piper-black-light);
	padding: 15px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

/*index */

.index {
	display: block;
}

.hero {
	background-color: var(--pied-green-ultradark);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 32px;
	gap: 12px;
}

@keyframes fadeInSlide {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
}

.heroLeft {
	display: flex;
	flex-direction: column;
	gap: 12px;
	animation: fadeInSlide 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.heroImg {
	max-width: 100%;
	border-radius: 12px;
	height: auto;
	animation: fadeIn 2s ease-out;
}

.indexTitle {
	font-size: 48px;
	word-break: break-all;
	margin: 0;
}

.indexDescription {
	font-size: 24px;
	max-width: 400px;
	overflow-wrap: break-word;
}

.minimal {
	color: var(--pied-green-light);
	font-weight: bold;
}

.signUpBtn {
	background-color: var(--pied-green-light);
	color: var(--text-color);
	font-weight: 600;
	max-width: fit-content;
	border: 1px solid var(--pied-green-light);
	padding: 8px;
	border-radius: 12px;
	font-size: 16px;
	transition: all 200ms ease-out;
}

.signUpBtn:hover {
	transform: scale(1.05);
	background-color: #01825b;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
}

.aboutSubtitle {
	font-weight: bold;
	font-size: 24px;
}

.aboutDesc {
	margin-top: 8px;
	border-top: 1px solid var(--text-color);
	padding-top: 8px;
	max-width: 600px;
}
/*all forms */

input {
	background-color: var(--piper-black);
	font-family: var(--montserrat);
	width: 300px;
	height: 20px;
	color: var(--text-color);
	border: 1px solid var(--piper-black);
	border-radius: 4px;
}

.submitBtn,
.shareLinkBtn {
	background-color: var(--pied-green);
	font-weight: bold;
	border: 1px solid var(--pied-green);
	color: var(--text-color);
	padding: 8px;
	border-radius: 4px;
	max-width: 100px;
	align-self: center;
}

.cancelBtn {
	background-color: var(--piper-black);
	font-weight: bold;
	border: 1px solid var(--text-color);
	color: var(--text-color);
	padding: 8px;
	border-radius: 4px;
	max-width: 100px;
	align-self: center;
}

.cancelBtn:hover {
	color: rgb(119, 119, 119);
	border-color: rgb(119, 119, 119);
}

.deleteMessage {
	max-width: 180px;
}

.asterisk {
	color: rgb(156, 25, 25);
}

.duration {
	background-color: var(--piper-black);
	color: var(--text-color);
	border: var(--piper-black);
	padding: 6px;
	border-radius: 8px;
	cursor: pointer;
}

.formAnchor {
	color: var(--text-color);
}

.formAnchor:visited {
	color: var(--visited-link);
}

.errors {
	margin: 0;
	padding-left: 23px;
}

.error {
	color: red;
	max-width: 300px;
}

/* all dialogs */
dialog {
	padding: 12px;
	border: 1px solid var(--piper-black-light);
	border-radius: 12px;
	border: none;
	background-color: var(--piper-black-light);
}

dialog > form {
	display: flex;
	gap: 8px;
	flex-direction: column;
	color: var(--text-color);
}

.errorPopupMsg,
.popupMsg {
	color: var(--text-color);
	max-width: 150px;
	padding: 8px;
}

.popupMsg {
	max-width: fit-content;
}

.closeBtn {
	max-width: fit-content;
	align-self: flex-start;
	background-color: var(--piper-black-light);
	border: none;
}

.dialogBottom {
	display: flex;
	align-self: end;
	gap: 8px;
}

#file-upload::file-selector-button {
	cursor: pointer;
	background-color: var(--pied-green-light);
	border: 1px solid var(--pied-green-light);
	color: var(--text-color);
	font-family: var(--montserrat);
}

/*home*/

.home {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 24px;
}

.sharedTitle {
	margin-left: 24px;
	margin-bottom: 0px;
}

.openFolder {
	width: 100%;
	border: 1px solid var(--piper-black-light);
	border-radius: 12px;
}

.emptyMessage {
	padding: 24px;
}

.folderTop {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.folderButtons {
	display: flex;
	align-items: center;
	gap: 8px;
	border-bottom: 1px solid var(--piper-black-light);
}

.folderButtons > button {
	transition: all 100ms ease-in;
}

.folderButtons > button:hover {
	background-color: rgba(255, 255, 255, 0.158);
	border-color: rgb(167, 167, 167);
}

.upload,
.createFolder,
.goBack {
	display: flex;
	align-items: center;
	padding: 2px 8px;
	gap: 2px;
	background-color: var(--piper-black);
	color: var(--text-color);
	border: 1px solid var(--text-color);
	border-radius: 8px;
}

.goBack {
	border-color: var(--piper-black-light);
	border-radius: 0px;
	max-width: fit-content;
}

.rowIcon:hover,
.folderName:hover {
	filter: brightness(0.5);
}

.edit,
.share,
.delete,
.download {
	background-color: var(--piper-black);
	border: none;
}

.createdAt {
	max-width: 100px;
}

.folderRow,
.fileRow {
	border-top: 1px solid var(--piper-black-light);
	padding: 12px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
}

.edit,
.createdAt.readOnly {
	margin-left: auto;
}

.folderName,
.fileName {
	word-break: break-all;
	max-width: 120px;
}

.folderName {
	color: var(--text-color);
}

.createdAt {
	color: var(--file-info);
}

.pathNavigation {
	display: flex;
	flex-wrap: wrap;
	font-size: 24px;
	color: #838383;
	gap: 3px;
	padding: 5px;
}

.pathLink {
	color: #9b9b9b;
	text-decoration: none;
}

.pathLink:hover {
	text-decoration: underline;
}

.shareLinkContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;
	margin: 12px;
	gap: 8px;
	padding: 12px;
	border-radius: 12px;
	background-color: var(--piper-black-light);
}

.shareLink {
	word-break: break-all;
}

.shareLinkBtn {
	padding: 8px;
}

.notFound {
	font-size: 48px;
}
